    /*아이콘*/
     .container
    {
      display: flex;
      flex-direction:row;
    }
      .item1
    {
      margin-left:10%;

    }
      .item3
    {
      margin-left:70%;
    }
     .container1
    {
        
      display: flex;
      flex-direction: row;
      margin-left:35% ;

    }

    /*검색창*/
      header2
    {
      
      background-color: white;
      display: flex;
      align-items: center;
      padding-left: 30%; ;
    } 
      header2 >div.search
    {
      margin-left: 1%;
      border : 1px solid rgb(3,199,90);
      justify-content: center;
      width: 680px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-radius: 20px;
      padding: 4px 10px;
      background-color: white;
    }
      header2 >div.search>span
    {
      margin-inline-start: auto; 
    }  
      header2 >div.search>input
    {
      margin-left: 10px;
      border:  1px solid white;
      font-size: 20px;
    }
       
      .container1
    {
      border: 1px solid white;
      margin-left: 32%;
    }
      .container1 > div
    {
      margin:  10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
      .container1 > div > i
    {
      font-size: 40px;
    }
      /*뉴스 홈*/
      .newsline1
    {
      border:  1px solid rgb(227,229,232);
      border-radius: 10px;
      padding: 5px 15px;
      padding-bottom: 10px;
    }
      .newsline2
    {
      border: 1px solid white;
      background-color:rgb(245,247,248);
      padding: 12px;  
      display: flex;
      flex-direction: row;
    }
      /*로그인*/
      div.screensum
    {
      display: flex;
      margin-left:20%;
    }
      div.screensum>div.login
    {
      border: 1px solid rgb(227,229,232);
      padding: 10px;
      border-radius: 10px;
    }
     /*광고*/
      .ads
    {
      display: flex;
      justify-content: center; 
      align-items: center; 
      font-size: 100px;
      border: 1px solid  rgb(227,229,232);
      width:413px; 
      height: 230px; 
      position: absolute; 
      right: 11.7%
      ; top:449px;border-radius:5px;
    }
      /*뉴스홈 세부내용배치*/
      
      .newsline3
    {
      border: 1px solid white;
      padding: 10px;
      display: flex;
      justify-content: space-between;

    }
    .newsline4
    {
      border: 1px solid white; 
      width: 150px;
      height:110px;
      border-radius: 10px;
    }
    .newsline5
    {
      width: 150px;
      height: 110px;
      border: 1px solid white; 
      border-radius: 10px
    }
      .newsline6
    {
      border: 1px solid white;
      padding: 10px;
      display: flex;
      justify-content: space-between;
    }
      .subLine
    {
      border: 1px solid  rgb(227,229,232);
      display: flex; 
      justify-content: center; 
      align-items: center;
      width:44.5%; 
      margin-left: 20%; 
      border-radius: 10px;
    }
     .button
    {
      width: 40px;
      height: 40px;
      background-color: white;
      border: 1px solid white;
    }
      .image
    {
      display: flex; 
      flex-direction: column;
    }
    /*이미지*/
      .image2
    {
        width: 100%;
        border: 1px solid rgb(227,229,232); 
        border-radius: 10px;
    }
      .tr2
    {
      border: 1px solid white;
       display:flex; 
       flex-direction: row;
        margin-bottom: 1%;
         width: 100%;
         background-color: white;

    }
      .td1
    {
      border: 1px solid  rgb(227,229,232) ;
      border-radius: 10px;
      display:flex;
       width: 50%;
       margin-left: 1%;
       padding-bottom: 50%;
    }
      .footer
    {
      border:  1px solid rgb(245,246,247);height:90%; 
      background-color: rgb(245,246,247);
    }
      .image
    {
      display: flex;
      flex-direction: column;
    }